body{
    background-color: #000000;
    color:#ffffff;
     
}
 /* Estilos para la ventana personalizada */
 #custom-input-container {
    position: fixed;
    top: 2px;
    right: 1px; /* Ajusta esta propiedad según tus necesidades */
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }